<h1 class="bg-primary p-2 text-center text-white">Department api</h1>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">Department List</div>
            <table class="table-bordered">
                <tr class="p-2">
                    <th>Sr no.</th>
                    <th>Name</th>
                    <th>Logo</th>
                </tr>
                @for (item of allDepts; track $index) {
                <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.departmentName}}</td>
                    <td>{{item.departmentLogo}}</td>
                </tr>
            }
            </table>
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="card text-center">
            <div class="card-header">Create Department</div>
            
            <!-- Centering using Flexbox -->
            <div class="card-body d-flex flex-column justify-content-center align-items-center gap-3">
                
                <div class="w-100">
                    <label class="form-label">Dept Name</label>
                    <input type="text" [(ngModel)]="deptObj.departmentName" class="form-control">
                </div>
                
                <div class="w-100">
                    <label class="form-label">Dept Logo</label>
                    <input type="text" [(ngModel)]="deptObj.departmentLogo" class="form-control">
                </div>
                
                <div>
                    <button class="btn btn-primary" (click)="onSave()">Submit</button>
                </div>
    
            </div>
        </div>
    </div>
    
</div>